<h1>Add a new task here:</h1>

<form action="" method="post" accept-charset="utf-8">
  <ul>
    <li>
      <label for="name"> Task Name:</label>
      <input type="text" name="name" value="" id="name">
    </li>

    <li>
      <label for="description"> Task Description: (Optional)</label>
      <input type="text" name="description" value="" id="description">
    </li>

    <input type="hidden" name="completed" value="false">
    <li>
      <label for="completed">  Completed? </label>
      <input type="checkbox" name="completed" value="true">
    </li>

    <li>
      <label for="date_completed"> Date Task Completed: (Optional)</label>
      <input type="text" name="date_completed" value="" id="date_completed">
    </li>

  <input type="submit" value="Add To Task List">
</form>
