<!-- link to add_task.erb file and this file will list all tasks -->

<h1>Welcome to Task Master!</h1>
<h2> To add a task to your task list please <a href="/add_task"> Click here</a></h2>


<pre>
<%= params %>
</pre>
